.dropdown-toggle,
.dropdown-item {
    cursor: pointer
}

.color{
    background-color: violet;
}
/* 
.navbar-dark .navbar-nav .nav-link {
    color: #f7f7f7;
} */

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}