<div class="container">
    <nav class="navbar navbar-expand-md navbar-light color">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/dashboard']">Issue Tracking App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
                    <!-- <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/dashboard']"><span><i class="fa fa-1x fa-tachometer"> Dashboard</i></span> </a>
                    </li> -->
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/my-list']"><span><i class="fa fa-list-ul"> My Issue List</i></span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/search']"><span><i class="fa fa-bug"> All Issues</i></span></a>
                    </li>
                </ul>
                <div *ngIf="loggedIn()" class="dropdown" dropdown>
                    <!-- <span class="mr-1">
                        <img src="{{photoUrl}}" alt="">
                    </span> -->
                    <a class="dropdown-toggle text-light" dropdownToggle>
                        {{userName | titlecase}}
                    </a>
                    <div class="dropdown-menu mt-3" *dropdownMenu>
                        <!-- <a class="dropdown-item"> -->
                            <!-- [routerLink]="['/member/edit']" -->
                            <!-- <i class="fa fa-user"></i>Edit Profile</a>
                        <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <ng-content></ng-content>
    </div>
    <router-outlet></router-outlet>
</div>
